<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local Neo packages: uncomment and create D:\LocalNuGetPackages when needed for local dev -->
    <!-- <add key="local-neo" value="D:\LocalNuGetPackages" /> -->
    
    <!-- NuGet.org for other packages -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>


